{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center mt-5 background-image">
    <div class="me-3">
        <a id="audioRecord"  href="{% url 'mainProcess' %}">
            <button class="btn btn-primary">녹음시작</button>
        </a>
    </div>
</div>
<div class="container">
    <h1>List Page</h1>
    <div class="card justify-content-center">
        <h3>녹음 시작 버튼 클릭해 주세요.</h3>
        <p>* 녹음 시작 버튼 클릭시 5초 동안 자동 녹음 시작 됩니다.</p>
    </div>
</div>
<script>
    //녹음시작 버튼 클릭 
    // var button = document.getElementById("audioRecord");

    // button.addEventListener('click', function(){
    //     alert('녹음 시작합니다.');
    //     setTimeout(function(){
    //         alert('녹음이 종료되었습니다.');    
    //     }, 5000);
    // });


</script>

{% endblock content %}
